<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Quizname: {{data.currentQuiz.title}}</p>
    <p>Anzahl der Fragen: {{data.currentQuiz.questions.length}}</p>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="showList()">Fragen bearbeiten</ion-button>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="loadFromServer()">Vom Server Laden</ion-button>
  </div>
</ion-content>