<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>QuestionList</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="show('')">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QuestionList</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item-sliding *ngFor="let q of data.currentQuiz.questions">
      <ion-item (click)="show(q.id)">
        <ion-label>{{q.title}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(q.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>